<h1 class="center-font">FAQ</h1>
<mat-accordion>
    <!--Question 1-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I add a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This is where you type the answer to 'How to add a recipe'.</p> 
    </mat-expansion-panel>
    <!--Question 2-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I edit a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This is where you type the answer to 'How to edit a recipe'.</p> 
    </mat-expansion-panel>
    <!--Question 3-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I delete a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This is where you type the answer to 'How to delete a recipe'.</p> 
    </mat-expansion-panel>
      <!--Question 4-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I add a recipe to my shopping list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This is where you type the answer to 'How to add a recipe to my shopping list'.</p> 
    </mat-expansion-panel>
      <!--Question 5-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I edit my shopping list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This is where you type the answer to 'How to edit my recipe to my shoping list'.</p> 
    </mat-expansion-panel>
      <!--Question 6-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I clear my grocery list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This is where you type the answer to 'How to clear the grocery list'.</p> 
    </mat-expansion-panel>

</mat-accordion>

