<h1 class="center-font">FAQ</h1>
<br>
<mat-accordion>
    <!--Question 1-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I add a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>From the homepage, you can click "Recipes". Alternatively, you can click the hamburger menu in the top left corner and click "Recipes". Once on the Recipe page, click the "New Recipe" icon which will direct you to the "Add Recipe" page. Then complete the following steps to add your recipe:</p> 
       <ol>
        <li>Click "Add Recipe Name", choose a name for your recipe, then click "Add".</li>
        <li>Click "Add Ingredient", enter the amount (as a decimal, NOT a fraction!), the unit (cup, pound, tbsp, etc), and the ingredient, then click "Add". Continue adding ingredients until all ingredients for the recipe have been added.</li>
        <li>Add the instructions for the recipe by adding steps in the same way you added ingredients.</li>
        <li>Before clicking "Submit", review your recipe. At this point in time, the app does not provide a way for you to edit your recipe once you click "Submit".</li>
        <li>If you need to edit an ingredient, you will have to click "Remove" next to the ingredient, then re-add it.</li>
        <li>If you need to edit a step, you will have to "Remove" the step and all subsequent steps to keep the instructions in the proper order. It is recommended that you copy and paste the steps you will be removing into an external document so that you can easily copy each step back into the recipe.</li>
        <li>Once the recipe is to your liking, click "Submit".</li>
       </ol>
    </mat-expansion-panel>
    <!--Question 2.1-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I view a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>From the homepage, you can click "Recipes". Alternatively, you can click the hamburger menu in the top left corner and click "Recipes". Once on this page, you will see a list of your recipes. Find the recipe you would like to view, then click "Details" next to that recipe.</p> 
    </mat-expansion-panel>
    <!--Question 2.2-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I edit a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>This app currently does not support editing a recipe once it is submitted. Please review your recipe before you submit it.</p> 
    </mat-expansion-panel>
    <!--Question 3-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I delete a recipe?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>From the homepage, you can click "Recipes". Alternatively, you can click the hamburger menu in the top left corner and click "Recipes". Once on this page, you will see a list of your recipes. Find the recipe you would like to delete, then click "Delete" next to that recipe. It will ask you for confirmation, then click "Yes, delete!". Warning: you will not be able to undo this and will have to rebuild your recipe to get it back.</p> 
    </mat-expansion-panel>
      <!--Question 4-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I add a recipe to my shopping list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>From the homepage, you can click "Recipes". Alternatively, you can click the hamburger menu in the top left corner and click "Recipes". Once on this page, you will see a list of your recipes. Find the recipe you would like to add to you list, then click "Add" next to that recipe. It will ask you to confirm that you would like to add the ingredients, then click "Yes, add to list!".</p> 
    </mat-expansion-panel>
      <!--Question 5-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I edit my shopping list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>From the homepage, you can click "List". Alternatively, you can click the hamburger menu in the top left corner and click "Shopping List". The list will either be blank, or you will see the ingredients from the recipes you have added. If you would like to add an additional item to your grocery list, click the "Add Item" button, enter your item, then click "Add". If you would like to remove an item, click "Remove" next to that item. If you would like to re-order your list, click and drag the items until it is in the order you like.</p> 
    </mat-expansion-panel>
      <!--Question 6-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">How do I clear my grocery list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
       <p>From the homepage, you can click "List". Alternatively, you can click the hamburger menu in the top left corner and click "Shopping List". Click the "Clear All" icon, it will ask you for confirmation, then click "Yes, clear all!". Warning: you will not be able to undo this and will have to rebuild your list to get it back.</p> 
    </mat-expansion-panel>
    <!--Question 7-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="button-font">Can I save my grocery list?</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
    <p>This app currently does not support saving your grocery list.</p> 
    </mat-expansion-panel>
</mat-accordion>

