

<section>
<h1 class="button-font">My Recipes</h1>
<mat-divider></mat-divider>
</section>
<br>

<section>
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>  
      <button mat-raised-button color="primary" class="border-button"><a class="navbar-brand" href="/add-new">New Recipe</a></button>
    </mat-grid-tile>
    <mat-grid-tile> 
      <button mat-raised-button color="primary" class="border-button"><a class="navbar-brand" href="/import-recipe">Import Recipe</a></button>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</section>
<br>
 <section class="content">
  <table class="t-size">   
    <thead class="td-1">
      <tr class="td-1">
        <th><h4>Recipe Name</h4></th>
        <th><h4>Actions</h4></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipe of recipes">
        <td class="td-1"><span>{{recipe.name}}</span></td>
        <td>
      
            <button mat-mini-fab color="primary" class="button-space" (click)="openDetails(contentDetails, recipe)"
               matTooltip="Details"
              aria-label="Button that displays a tooltip when focused or hovered over">
              <mat-icon>search</mat-icon>
          </button>
          <button mat-mini-fab color="accent" class="button-space" (click)="openAdd(contentAdd, recipe)"
              matTooltip="Add to My List"
              aria-label="Button that displays a tooltip when focused or hovered over">
            <mat-icon>add</mat-icon>
            </button>
          <button mat-mini-fab color="warn"  (click)="openDelete(contentDelete, recipe)"
          matTooltip="delete recipe"
          aria-label="Button that displays a tooltip when focused or hovered over">
          <mat-icon color="">delete</mat-icon>
        </button>
          
        </td>
      </tr>
      </tbody>
    </table>
  </section>
  <br>
  <mat-divider></mat-divider>
  <section>
    <mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile></mat-grid-tile>
   <mat-grid-tile> 
    <a mat-raised-button class="border-button" color="accent" href="/list">My List</a>
   </mat-grid-tile>
   <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  </section>
  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title1">Recipe Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <h2>{{recipeNameDisplay}}</h2>
    <p>Id: {{idDisplay}}</p>
    <p>Ingredients:</p>
    <ul>
      <li *ngFor="let ingredient of ingredientsDisplay">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.ingredient}}</li>
    </ul>
    <br>
    <p>Steps:</p>  
    <ol>
      <li *ngFor="let step of stepsDisplay">{{step.step}}</li>
    </ol>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to delete this record.</h2>
      <div class="text-center">
        <br>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

  <ng-template #contentAdd let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add to List</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>Are you sure you want to add the following ingredients to your list?</h5>
      <ul *ngFor="let ingredient of addList">
        <li>{{ingredient}}</li>
      </ul>
      <div>
        <button data-dismiss="modal" mat-raised-button class="warn-color" (click)="onAdd()">Yes, add to list!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
    
  </ng-template>


