<h1>Add Recipe</h1>
<br>
<div>
  <button mat-raised-button color="primary" class="border-button"><a class="navbar-brand" href="/add-new">New Recipe</a></button>
  <button mat-raised-button color="primary" class="border-button"><a class="navbar-brand" href="/import-recipe">Import Recipe</a></button>
</div>
<br>
<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Recipe Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipe of recipes">
        <td><span>{{recipe.name}}</span></td>
        <td>
          <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, recipe)">
            <i class="fa fa-search"></i>Details</button>
            <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, recipe)">
            <i class="fa fa-remove"></i>Delete</button>
          <button class="btn btn-sm btn-warning">
            <i class="fa fa-plus"></i>Add to List</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title1">Recipe Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <h2>{{recipeNameDisplay}}</h2>
    <p>Id: {{idDisplay}}</p>
    <p>Ingredients:</p>
    <ul>
      <li *ngFor="let ingredient of ingredientsDisplay">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.ingredient}}</li>
    </ul>
    <br>
    <p>Steps:</p>  
    <ol>
      <li *ngFor="let step of stepsDisplay">{{step.step}}</li>
    </ol>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to delete this record.</h2>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>