<!DOCTYPE html>
<head>
 <style>
 @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');
 </style>
 </head>
 
<mat-toolbar color="primary">
 <mat-toolbar-row>
   <button mat-icon-button>
     <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
   </button>
  
   <h1> <a href="\home">
     <img  src="assets/images/ShopAssist.png">
   </a></h1>
 <span class="example-spacer"></span>
 <a *ngIf="!isLoggedIn" mat-raised-button color="accent"class="button-space" href="/register">New Users</a>
 
<div *ngIf="isLoggedIn">
   <a  mat-raised-button color="accent" href class="button-space" (click)="logout()">Logout</a>
 </div>
 
 
 <a *ngIf="!isLoggedIn" mat-raised-button color="accent" class="button-space" href="/login">Login</a>
 
 </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="grey" color="primary">
 <mat-sidenav #sidenav mode="push">
   <mat-nav-list color="primary">
     <a mat-list-item href="/home">Home</a>
     <a mat-list-item href="/recipes">Recipes</a>
     <a mat-list-item href="/list">Shopping List</a>
     <a mat-list-item href="/faq">FAQ</a>
   </mat-nav-list>
 </mat-sidenav>
 <mat-sidenav-content>
 
   <div class="not-so-close" style="height: 88vh;"><router-outlet></router-outlet></div>
 
 
</mat-sidenav-content>
</mat-sidenav-container>
