.border-button {
    border-style: solid;
    border-color: black;
    margin: 5px;
}

.not-so-close{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 57px;
    padding-left: 57px;
    
   }