<h1>Shopping List:</h1>
<br>
<div>
    <button mat-raised-button color="primary" class="border-button"  (click)="addListItem(listContent)">Add Item</button>
    <button mat-raised-button color="primary" class="border-button" (click)="openClearAll(contentClearAll)">Clear All</button>
</div>
<br>
<div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let listItem of list" cdkDrag><mat-checkbox>{{listItem}}</mat-checkbox> <button (click)="onRemove(listItem)">Remove</button></div>
    </div>
</div>

<ng-template #listContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Item:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #f="ngForm" (ngSubmit)="onAddListItem(f)" novalidate class="space">
      <div>
        <input id="listItem" name="listItem" ngModel />
      </div>
      <div class="space">
        <button data-dismiss="modal" class="btn btn-info">Add</button>
      </div>
    </form>
</ng-template>

<ng-template #contentClearAll let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to clear your list?</h2>
      <div class="topspace text-center">
        <button data-dismiss="modal" class="btn btn-danger" (click)="onClearAll()">Yes, clear all!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>