
<section>
  <img class="classy" mat-card-image src="assets/images/we-assist.png">
  </section>
  
  <section><img class="grocery" mat-card-image src="assets/images/app.jpeg"></section>
  <br>
  
  <mat-divider></mat-divider>
  <section>
  <mat-grid-list cols="3" rowHeight="50px">
    <!--grid 1--My Recipes-->
    <mat-grid-tile>
    <div *ngIf="!isLoggedIn">
      <a mat-raised-button class="button-font" color="primary" href="/login">Recipes</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-raised-button class="button-font" color="primary" href="/recipes">My Recipes</a>
    </div>
    </mat-grid-tile>
    <!--grid 2--My List---->
   <mat-grid-tile>
    <div *ngIf="!isLoggedIn">
      <a mat-raised-button class="button-font" color="primary" href="/login">List</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-raised-button class="button-font" color="primary" href="/list">My List</a>
    </div>
  </mat-grid-tile>
<!--grid 3 FAQ-->
  <mat-grid-tile>
      <a mat-raised-button class="button-font" color="primary" href="/faq">FAQ</a>
  </mat-grid-tile>
</mat-grid-list>
</section>

    