<section>
<img class="classy" mat-card-image src="assets/images/we-assist.png">
</section>
<mat-divider></mat-divider>
<section>
<mat-grid-list cols="3" rowHeight="50px">
  <mat-grid-tile>
   <a mat-raised-button class="not-so-close" color ="primary" href="/recipes">My Recipes</a></mat-grid-tile>
    <mat-grid-tile><a mat-raised-button class="button-font" color="primary" href="/list">My List</a></mat-grid-tile>
    <mat-grid-tile><a mat-raised-button class="button-font"color="primary" href="/faq">FAQ</a>
  </mat-grid-tile>


</mat-grid-list>
    

</section>


   
        
  
        
        

        

  