<div>
    <h4 class="modal-title" id="modal-basic-title">New Recipe</h4>
  </div>
  <div>
    <form>
        <div class="form-group">
            <label for="name">Recipe Name</label>
            <div>
                <input id="name" name="name" ngModel />
            </div>
          </div>
          <div class="form-group">
            <label for="ingredients">Ingredients</label>
                <p>+ Add Ingredient</p>
          </div>
          <div class="form-group">
            <label for="steps">Steps</label>
                <p>+ Add Step</p>
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
    </form>
  </div>
