<div>
  <h4 class="modal-title" id="modal-basic-title">New Recipe</h4>
</div>
<div>
  <div>
    <label for="ingredients">Ingredients</label>
    <button (click)="addIngredient(ingredientContent)">+ Add Ingredient</button>
  </div>
  <div class="form-group">
    <label for="steps">Steps</label>
    <button (click)="addStep(stepContent)">+ Add Step</button>
  </div>
    <br><br><br><br><br>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <label for="name">Recipe Name</label>
      <div>
        <input id="name" name="name" ngModel />
      </div>
    </div>
    <br>
    <p>Ingredients:</p>
      <ul>
        <li *ngFor="let ingredient of ingredients">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.ingredient}}</li>
      </ul>

    <p>Steps:</p>  
      <ol>
        <li *ngFor="let step of steps">{{step.step}}</li>
      </ol>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>


  <ng-template #ingredientContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Ingredient:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #f="ngForm" (ngSubmit)="onAddIngredient(f)" novalidate>
      <label for="name">Amount</label>
      <div>
        <input id="amount" name="amount" ngModel />
      </div>
      <label for="name">Unit</label>
      <div>
        <input id="unit" name="unit" ngModel />
      </div>
      <label for="name">Ingredient</label>
      <div>
        <input id="ingredient" name="ingredient" ngModel />
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Add</button>
      </div>
    </form>  
  </ng-template>

  <ng-template #stepContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Step:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #f="ngForm" (ngSubmit)="onAddStep(f)" novalidate>
      <label for="name">Step</label>
      <div>
        <input id="step" name="step" ngModel />
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Add</button>
      </div>
    </form>
  </ng-template>




