<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/recipes"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <br>Recipes
        </a>
      </div>
      <div class="col-sm">
        <a href="/ingredients"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <br>Ingredients (temporary)
        </a>
      </div>
      <div class="col-sm">
        <a href="/steps"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <br>Steps (temporary)
        </a>
      </div>
    </div>
  </div>
