<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body {
        font-family: 'Poppins', san-serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <a mat-raised-button color="primary" href="/recipes" target="_blank">Recipes</a>

      </div>
      <div class="col-sm">
        <a mat-raised-button color="primary" href="/list" target="_blank">List</a>
      </div>
      <div class="col-sm">
        <a mat-raised-button color="primary" href="/faq" target="_blank">FAQ</a>




      </div>
    </div>
  </div>
</body>
</html>
